---
import Layout from '@/layouts/Layout.astro'
import { petImagePath } from '@/utils/assets'
import { getTableData } from '@/utils/apiHelpers'
import { productNewSnugglePath } from '@/utils/routes'
import { getPet } from '@/utils/apiHelpers'
import { type Pet } from '@/utils/types'

const { id } = Astro.params;
const currentPet = (await getPet(parseInt(id as string)) ?? {
  name: "Unknown",
  bio: "This pet is a mystery!",
  snuggles: 0,
}) as Pet

---
<Layout title={`${currentPet.name} | Pets`} indexable={true}>
  <div style={{ margin: "auto auto 100px auto" }}>
    <h1 data-pagefind-meta="title">{currentPet.name}</h1>
    <div>Say hi to {currentPet.name}!</div>
    <div>{currentPet.bio}</div>
    <div>{currentPet.name} has {currentPet.snuggles} snuggle{currentPet.snuggles === 1 ? "" : "s"}! You should give them some more!</div>
    <div style={{width: "250px", margin:"auto"}}>
      <form action={productNewSnugglePath(currentPet)} method="post">
        <button type="submit">Give Snuggle</button>
      </form>
    </div>
    <img style={{margin: "auto", width: "50%"}} src={petImagePath(currentPet)} alt={currentPet.name} />
  </div>
</Layout>