---
import { petPath } from '@/utils/routes'
import { petImagePath } from '@/utils/assets'
import type { Pet } from '@/utils/types'

interface Props {
  pet: Pet
}

const { pet } = Astro.props
---

<div class="border">
  <a href={petPath(pet)}>
    <h2>{pet.name}</h2>
    <div style={{margin: "auto", width: "50%"}}>
      <img src={petImagePath(pet)} alt={pet.name} />
    </div>  
  </a>
  <p>{pet.greeting}</p>
</div>
