---
import Layout from '@/layouts/Layout.astro'
import { petImagePath } from '@/utils/assets'
import NewPetComment from '@/components/NewPetComment.astro'
import PetComments from '@/components/PetComments.astro'
import { getTableData } from '@/utils/apiHelpers'
import { productNewSnugglePath } from '@/utils/routes'
import { getPet } from '@/utils/apiHelpers'

export async function getStaticPaths() {
  const pets = await getTableData("pets")

  return pets.map(pet => {
    return {
      params: { id: pet.id },
      props: { pet },
    }
  })
}

const { pet } = Astro.props;
const currentPet = await getPet(pet.id) 
---
<Layout title={`${currentPet.name} | Pets`} indexable={true}>
  <h1 data-pagefind-meta="title">{currentPet.name}</h1>
  <div>Say hi to {pet.name}!</div>
  <div>{currentPet.bio}</div>
  <div>{currentPet.name} has {currentPet.snuggles} snuggle{currentPet.snuggles.length === 1 ? "" : "s"}! You should give him some more!</div>
  <form action={productNewSnugglePath(pet)} method="post">
    <button type="submit">Give Snuggle</button>
  </form>
  <div style={{margin: "auto", width: "50%"}}>
    <img src={petImagePath(currentPet)} alt={currentPet.name} />
  </div>
  <!-- <pre>{JSON.stringify(pet, null, 2)}</pre> -->
  <div>
    <NewPetComment pet={currentPet} server:defer />
    <PetComments pet={currentPet} server:defer />
  </div>
</Layout>