---
import Layout from '@/layouts/Layout.astro'
import { supabase } from '@/utils/database'
import { petImagePath } from '@/utils/assets'
import NewProductReview from '@/components/NewProductReview.astro'
import ProductReviews from '@/components/ProductReviews.astro'

export async function getStaticPaths() {
 const { data, error } = await supabase
  .from('pets')
  .select()
  .order('created_at', { ascending: false })

  if (error) {
    console.error(error)
  }

  const pets = data || []

  return pets.map(pet => {
    console.log(pet)
    return {
      params: { name: pet.name },
      props: { pet },
    }
  })
}

const { pet } = Astro.props;
---
<Layout title={`${pet.name} | Pets`} indexable={true}>
  <h1 data-pagefind-meta="title">{pet.name}</h1>
  <div>Hello, {pet.name}!</div>
  <div style={{margin: "auto", width: "50%"}}>
    <img src={petImagePath(pet)} alt={pet.name} />
  </div>
  <pre>{JSON.stringify(pet, null, 2)}</pre>
  <div>
    <!-- <NewProductReview product={product} server:defer />
    <ProductReviews product={product} server:defer /> -->
  </div>
</Layout>
